body{

margin:0;
font-family:'Poppins', sans-serif;
color:white;
text-align:center;
background:black;

}



/* PORTADA */

.portada{

height:100vh;

background:url("foto1.jpg");
background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

position:relative;

}



.overlay{

position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.45);

}



.contenido{

position:relative;
padding:20px;

}



/* TITULO MIS XV */

h1{

font-family:'Great Vibes', cursive;
font-size:70px;
font-weight:normal;
margin:10px 0;

}



/* NOMBRE */

.portada h2{

font-family:'Great Vibes', cursive;
font-size:55px;
font-weight:normal;

color:#f7d774;

margin-bottom:20px;

}



/* TITULOS SECCIONES */

.card h2{

font-family:'Great Vibes', cursive;
font-size:42px;
font-weight:normal;

margin-bottom:20px;

color:#f7d774;

}



/* TEXTO */

p{

font-size:18px;
line-height:1.6;

}



/* FOTO CENTRAL */

.foto-central{

width:260px;

border-radius:20px;

animation:flotar 4s infinite;

box-shadow:0 0 25px rgba(212,175,55,0.6);

}



@keyframes flotar{

50%{

transform:translateY(-15px);

}

}

/* TEXTO FAMILIA */

.familia{

font-family:'Poppins', sans-serif;

}


/* MIS PADRES / PADRINOS */

.subtitulo{
font-family:'Great Vibes', cursive;
font-size:32px;
font-weight:normal;

color:#f7d774;

margin-bottom:20px;

}


/* NOMBRES */

.nombres{

font-size:16px;

font-weight:300;

letter-spacing:1px;

}


/* CONTADOR */

.countdown{

display:flex;
justify-content:center;
gap:15px;

margin-top:20px;

flex-wrap:wrap;

}



.countdown div{

background:rgba(0,0,0,0.6);

padding:12px 15px;

border-radius:15px;

min-width:70px;

}



.countdown span{

font-size:28px;

color:#f7d774;

font-weight:bold;

}



.countdown p{

font-size:14px;
margin:5px 0 0 0;

}



/* SECCIONES */

.seccion{

padding:90px 20px;

background-size:cover;
background-position:center;

}



.foto2{

background:url("foto2.jpg");

}



.foto3{

background:url("foto3.jpg");

}



.foto4{

background:url("foto4.jpg");

}



/* CARD */

.card{

background:rgba(0,0,0,0.6);

padding:30px;

border-radius:20px;

max-width:420px;

margin:auto;

box-shadow:0 0 20px rgba(0,0,0,0.5);

}



/* ITINERARIO */

/* TIMELINE */

.timeline{

position:relative;

margin-top:30px;

padding-left:30px;

}


/* LINEA */

.timeline::before{

content:"";

position:absolute;

left:10px;

top:0;

bottom:0;

width:2px;

background:#f7d774;

}


/* EVENTO */

.evento{

position:relative;

margin-bottom:25px;

font-size:18px;

text-align:left;

padding-left:15px;

}


/* PUNTO */

.evento::before{

content:"";

position:absolute;

left:-21px;

top:6px;

width:12px;

height:12px;

background:#f7d774;

border-radius:50%;

box-shadow:0 0 10px #f7d774;

}


/* ICONO */

.evento i{

color:#f7d774;

margin-right:10px;

}




/* BOTONES */

button{

padding:15px 30px;

border:none;

border-radius:30px;

background:linear-gradient(45deg,#d4af37,#f7d774);

color:white;

font-size:18px;

cursor:pointer;

margin-top:15px;

transition:0.3s;

}



button:hover{

transform:scale(1.08);

}



/* MAPA */

iframe{

width:100%;

height:250px;

border:none;

border-radius:15px;

margin-top:15px;

}

.bloque-ubicacion{

margin-top:35px;

padding-top:20px;

border-top:1px solid rgba(255,255,255,0.2);

}

.subtitulo-ubicacion{

font-family:'Great Vibes', cursive;

font-size:30px;

color:#f7d774;

margin-bottom:10px;

}




/* ICONO MUSICA */
/* CONTENEDOR MUSICA */

.music-container{

position:fixed;

bottom:35px;
right:20px;

z-index:999;

}



/* ICONO MUSICA CIRCULO */

.music-icon{

width:70px;
height:70px;

background:white;

border-radius:50%;

display:flex;

flex-direction:column;

justify-content:center;
align-items:center;

cursor:pointer;

box-shadow:0 0 15px rgba(0,0,0,0.4);

font-family:'Montserrat', sans-serif;
}



/* ICONO */

.music-icon img{

width:30px;

margin-bottom:2px;

}



/* TEXTO PLAY */

.music-icon span{

font-size:10px;

color:black;

}



/* ROTAR */

.rotating{

animation:rotate 4s linear infinite;

}

@keyframes rotate{

from{transform:rotate(0deg);}
to{transform:rotate(360deg);}

}



/* FOOTER */

.footer{

background:black;

padding:15px;

font-size:12px;

color:white;

}



.footer span{

font-size:12px;

opacity:0.8;

}



.footer a{

font-size:11px;

color:#25D366;

text-decoration:none;

font-weight:normal;

margin-left:8px;

}



.footer i{

font-size:11px;

}



/* RESPONSIVE CELULAR */

@media (max-width:600px){

h1{

font-size:50px;

}

.portada h2{

font-size:40px;

}

.card h2{

font-size:34px;

}

.foto-central{

width:200px;

}

button{

font-size:16px;

padding:12px 20px;

}

.countdown span{

font-size:22px;

}

}

/* DISEÑO FLOTANTE */
.card{

opacity:0;

transform:translateY(40px);

transition:1s;

}


.card.visible{

opacity:1;

transform:translateY(0);

}
